/* Place CSS styles here */
body{
    color: rgb(37,41,89);
    background: rgb(205,235,216);
}
.header{
    background:rgb(183,228,229);
    align-items: center;
    font-family: Verdana;
    font-size: 70px;
    line-height: 0.2;
}
img{
 width: 200px;   
}

p{

}

h1{

}

.Lsu-info{
    text-align: right;
    
}