/* Place CSS styles here */
body{
 color: rgb(37,41,89);
 background: rgb(224,242,220);
}

.header{
 background:rgb(208,241,191);
 display: flex;
 flex-direction: column;
 text-align: center;
 font-family: monospace;
 font-size: 18px;
 line-height: 0.01;
}
/* change all large font size into a specific numbers
change postion of absolute to something else cuz it changes depending on computer size
add links to phone number and email
try to fix header color cover
 */

.logo-art{
 position: static;
 width: 40px;
 border: 1px;
}

img{
 width: 200px;   
 border-style: solid;
 color: #f3dfe2;
}

.social-border{
 position: static;
 font-family: monospace;
 font-style: oblique;
 font-size: 15px;
 width: 400px;
 border: 1px solid #221d07;
 text-align: center;
 line-height: .2;
}

.work-experience{
 line-height: 1;
}

.skills{
 line-height: 1.5;
}

.about-me{
 text-align: center;
 line-height: 1;
}
