/* Place CSS styles here */
body{
 color: rgb(37,41,89);
 background: rgb(224,242,220);
}

.header{
 background:rgb(208,241,191);
 text-align: center;
 font-family: monospace;
 font-size: large;
 line-height: 0.2;
}

img{
 width: 200px;   
 border-style: solid;
 color: #c2b2b4;
}

.about-me{
 text-align: right;

}

.Lsu-info{
    
}